<div class="card" style="width: 18rem">
  <!-- Property Binding -->
  <img
    [src]="urusImage"
    class="card-img-top"
    alt="There is an image of lambordini urus"
  />
  <div class="card-body">
    <!-- Interpolation -->
    <h5 class="card-title">{{ carname }}</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<br />
<div>
  <button type="button" (click)="getMessage()">Message</button>
  <br />
  {{ message }}
</div>
